body{
    display: grid;
    grid-template-rows: 10rem auto 6rem;
    grid-template-columns: minmax(12rem, 3fr) 9fr;
}

header {
    background-color: aqua;
    grid-column: 1 / 3;
    text-align: center;
    
  }
  nav {
      background-color: blue;
    grid-row: 2 / span 2;
    
  }
  nav>ul{
    
  list-style: none;
 
 

  }

 
  

  main{
      background-color: chocolate;
    grid-column: 2 /3;
    
  }
  .Accueil{
    
    width: 100%;
  }
.contact{
   
   max-height: 100%;
   width: 100%;

    

}

  
  footer{
      grid-column: 2 /3;
   text-align: center;
   
    background-color: brown;
  }